{% extends 'base.html' %}

{% block title %}Atlanta's Music Source | Change Password{% endblock %}


{% block body %}
    <div class="row" style="margin-bottom: 20px; margin-top: 20px;">
        <div class="col s12 m8 offset-m2 l8 offset-l2 white" style="">
            <div class="col s12 m12 l12" style="margin-bottom: 30px; margin-top: 0px;">
                <!--sign up form-->
                <div class="col s12 m12 l12 white center-align" style="">
                    <h4 class="col s12 m12 l12" style="margin-top: 40px;">Search result</h4>

                    <p class="col s12 m12 l12 divider" style="margin-top: 30px;"></p>

                    <h3>{{ search_query }}</h3>

                </div>
                <!--end sign up form-->
            </div>
        </div>
    </div>
    <!--end sign up form-->

{% endblock %}
