<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'account/style/materialize.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">

    <style>
        .container{
            min-width: 100%;
        }

        .container > .row {
            margin: 0;
        }


        .container > .row > .col {
            padding: 0;
        }

        *{
            padding: 0px;
            margin: 0px;
            font-family: 'myFont';
        }

        @font-face {
            font-family: 'myFont';
            src: url('/static/account/fonts/myFont.ttf');
        }

        .top-dropdown-menu{
            color: white;
            font-size: 18px;
        }

        .top-dropdown-menu:hover{
            color: gray;
            cursor: pointer;
        }

        footer a:hover{
            text-decoration: underline;
        }

        .left-sidebar a{
            color: grey;
        }

        .left-sidebar a:hover{
            color: white;
        }
    </style>

    {% block style %}
    {% endblock %}
</head>

<body class="">
    <div class="container">

        <div class="row">
            <!--left side bar-->
            <div class="col m2 #3f51b5 indigo white-text left-sidebar" style="height: 800px;">
                <div class="col m12 #1a237e indigo darken-4" style="">
                    <p style="font-size: 30px;">MyFarm</p>
                </div>

                <div class="col m12 #1a237e white grey-text center-align" style="border-right: 1px solid navy;">
                    <p class="col m6 offset-m3" style="font-size: 30px; margin-top: 20px;">
                        <img id="top_user_image" src="" height="100%" width="100%">
                    </p>

                    <p id="top_username" class="col m12 center-align">@</p>
                    <p style="margin-bottom: 20px;" id="top_status" class="col m12 center-align">@</p>
                </div>

                <div class="col m12 indigo darken-4" style="padding: 20px;">
                    <div class="col m12" style="">
                        <p class="" style="font-size: 16px;">
                            <a href="{% url 'staff:home' %}">
                                {% if change_status_sidebar == 'dashboard' %}
                                <span class="white-text">Dashboard</span>
                                {% else %}
                                <span>Dashboard</span>
                                {% endif %}
                            </a>
                        </p>
                    </div>

                    <div class="col m12" style="">
                        <p class="" style="font-size: 16px;">
                            <a class="" href="{% url 'staff:user-home' %}">
                                {% if change_status_sidebar == 'user-management' %}
                                <span class="left white-text">User Management</span>
                                <span class="right white-text"> > </span>
                                {% else %}
                                <span class="left">User Management</span>
                                <span class="right"> > </span>
                                {% endif %}
                            </a>
                        </p>
                    </div>

                    <div class="col m12" style="">
                        <p class="" style="font-size: 16px;">
                            <a class="" href="{% url 'staff:product-home' %}">
                                {% if change_status_sidebar == 'product-management' %}
                                <span class="left white-text">Product</span>
                                <span class="right white-text"> > </span>
                                {% else %}
                                <span class="left">Product</span>
                                <span class="right"> > </span>
                                {% endif %}
                            </a>
                        </p>
                    </div>

                    <div class="col m12" style="">
                        <p class="" style="font-size: 16px;">
                            <a class="" href="{% url 'staff:payment-home' %}">
                                {% if change_status_sidebar == 'payment' %}
                                <span class="left white-text">Payment</span>
                                <span class="right white-text"> > </span>
                                {% else %}
                                <span class="left">Payment</span>
                                <span class="right"> > </span>
                                {% endif %}
                            </a>
                        </p>
                    </div>

                    <div class="col m12" style="">
                        <p class="" style="font-size: 16px;">
                            <a class="" href="">
                                <span class="left">Pull Request</span>
                                <span class="right"> > </span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <!--end left side bar-->

            <!--main body-->
            <div class="col m10" style="">
                <!--nav bar-->
                <nav class="#9fa8da indigo lighten-3">
                    <div class="nav-wrapper">
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="sass.html">Profile</a></li>
                            <li><a href="badges.html">Message</a></li>
                            <li><a href="{% url 'account:sign-out' %}">Sign out</a></li>
                        </ul>
                    </div>
                </nav>
                <!--end nav bar-->

                <div class="col m12" style="">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
            <!--end main body-->

        </div>

        <footer class="row black white-text">
            <div class="col s12 m12 l12" style="">
                <div class="col s12 m10 offset-m1" style="margin-top: 50px;">
                    <!--poster-->
                    <div class="col m3 valign-wrapper" style="height: 350px; border: 1px solid white;">
                        poster here
                    </div>
                    <!--end poster-->

                    <!--footer link-->
                    <div class="col m9" style="">
                        <div class="col s3 left-align" style="">
                            <b style="font-size: 16px; color: red;">Magazine</b>

                            <p style="margin-top: 20px;">
                                <a href="#">Customer Service</a>
                            </p>

                            <p style="">
                                <a href="#">Subscribe</a>
                            </p>

                            <p style="">
                                <a href="#">Buy this issue</a>
                            </p>

                            <b class="col s12 m12 l12" style="padding: 0px; font-size: 16px; color: red; margin-top: 10px; margin-bottom: 10px;">MyFarm biz</b>

                            <p style="">
                                The online extension of MyFarm Magazine, MyFarm is the essential online destination for the farming business.
                            </p>

                            <p style="margin-top: 10px; font-size: 18px;">
                                <a href="#">Learn more</a>
                            </p>

                        </div>


                        <div class="col s3 left-align" style="">
                            <b style="font-size: 16px; color: red;">Sharing</b>

                            <p style="margin-top: 20px;">
                                <a class="white-text" href="#">Facebook</a>
                            </p>

                            <p style="">
                                <a class="white-text" href="#">Twitter</a>
                            </p>

                            <p style="">
                                <a class="white-text" href="#">Google+</a>
                            </p>

                            <p style="">
                                <a class="white-text" href="#">YouTube</a>
                            </p>

                            <p style="">
                                <a class="white-text" href="#">Instagram</a>
                            </p>

                            <p style="">
                                <a class="white-text" href="#">Tumblr</a>
                            </p>

                            <p style="">
                                <a class="white-text" href="#">Pinterest</a>
                            </p>

                            <p style="">
                                <a class="white-text" href="#">Spotify</a>
                            </p>

                            <p style="">
                                <a class="white-text" href="#">Newsletter</a>
                            </p>

                            <p style="">
                                <a class="white-text" href="#">Biz Newsletter</a>
                            </p>
                        </div>



                        <div class="col s3 left-align" style="">
                            <b style="font-size: 16px; color: red;">Exploring</b>

                            <p style="margin-top: 20px;">
                                <a class="white-text" href="#">Shop</a>
                            </p>

                            <p style="">
                                <a class="white-text" href="#">News Archive</a>
                            </p>

                            <p style="">
                                <a class="white-text" href="#">Photos Archive</a>
                            </p>

                            <p style="">
                                <a class="white-text" href="#">Videos Archive</a>
                            </p>

                            <p style="">
                                <a class="white-text" href="#">Magazine Archive</a>
                            </p>

                            <p style="">
                                <a class="white-text" href="#">Charts Archive</a>
                            </p>

                        </div>


                        <div class="col s3 left-align" style="">
                            <b style="font-size: 16px; color: red;">Information</b>

                            <p style="margin-top: 20px;">
                                <a class="white-text" href="#">Jobs</a>
                            </p>

                            <p style="">
                                <a class="white-text" href="#">Charts Licensing</a>
                            </p>

                            <p style="">
                                <a class="white-text" href="#">Events</a>
                            </p>

                            <p style="">
                                <a class="white-text" href="#">Contact Us</a>
                            </p>

                            <p style="">
                                <a class="white-text" href="#">Sitemap</a>
                            </p>

                            <p style="">
                                <a class="white-text" href="#">FAQ</a>
                            </p>

                            <p style="">
                                <a class="white-text" href="#">Feedback</a>
                            </p>

                            <p style="">
                                <a class="white-text" href="#">Lyrics</a>
                            </p>

                            <div class="col s12 m12 l12 left-align" style="margin-top: 40px;">
                                <b style="font-size: 18px;">MyFarm</b>
                            </div>

                        </div>

                    </div>
                    <!--end footer link-->
                </div>

                <div class="col s12 m10 offset-m1" style="margin-top: 20px; margin-bottom: 50px;">
                    <div class="col m4" style="font-size: 13px;">
                        &copy; 2018 MyFarm. All Rights Reserved.
                    </div>

                    <div class="col m8" style="font-size: 13px;">
                        <span><a class="white-text" href="#">Terms of Use</a> | </span>
                        <span><a class="white-text" href="#">Privacy Policy</a> | </span>
                        <span><a class="white-text" href="#">About Our Ads</a>  </span>
                        <span><a class="" href="#">Advertising</a></span>
                    </div>
                </div>
            </div>
        </footer>


    </div>

    <script type="text/javascript" src="{% static 'account/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'account/js/materialize.min.js' %}"></script>

    {% block js %}
    {% endblock %}
</body>
</html>

<script>
    $(document).ready(function(){
        $('.dropdown-trigger').dropdown();
    });

    $('.dropdown-button').dropdown({
          inDuration: 300,
          outDuration: 225,
          constrainWidth: false, // Does not change width of dropdown to that of the activator
          hover: true, // Activate on hover
          gutter: 0, // Spacing from edge
          belowOrigin: true, // Displays dropdown below the button
          alignment: 'left', // Displays dropdown with edge aligned to the left of button
          stopPropagation: false // Stops event propagation
        }
    );


    $(document).ready(function(){
        //var username = $("#login_username").val();
        var username = '{{ request.user.username }}';

        $.ajax({
                url: '/account/api/user-profile/',
                data: { "username":username },
                dataType: 'json',
                success: function (data) {
                    console.log(data.data[0].is_superuser);
                    //$("#login_user_sponsor").attr("href","/account/membership-account/public-profile/?userid="+data.data[0].sponsor_username);

                    if(data.data[0].photo != null){
                        $("#top_user_image").attr("src", data.data[0].photo);
                    }else{
                        $("#top_user_image").attr("src", '/media/no-img.jpg');
                    }

                    $("#top_username").append(data.data[0].username);

                    if(data.data[0].is_superuser == true){
                        $("#top_status").append("Staff");
                    }
                }
        });
    })
</script>
