{% extends 'staff-base.html' %}

{% block title %} MyFarm | Staff {% endblock %}


{% block body %}
    <div class="row">
        <div class="col m8 offset-m2 white" style="height: 500px; padding: 20px; margin-top: 20px; margin-bottom: 20px;">
            <h5>User management</h5>

            <p class="col s12 m12 l12 divider">

            </p>

            <a href="{% url 'staff:all-user' %}" class="waves-effect waves-light btn red white-text" style="margin-top: 20px;">All user</a>
            <a href="{% url 'account:sign-out' %}" class="waves-effect waves-light btn red white-text" style="margin-top: 20px;">Search user</a>


            <h5 style="margin-top: 50px;">Post Product</h5>

            <p class="col s12 m12 l12 divider">

            </p>

            <a href="{% url 'staff:product-add' %}" class="waves-effect waves-light btn red white-text" style="margin-top: 20px;">Add Product</a>
            <a href="{% url 'account:sign-out' %}" class="waves-effect waves-light btn red white-text" style="margin-top: 20px;">Search user</a>
        </div>
    </div>

{% endblock %}
