<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyFarm | Sign in</title>

    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'account/style/materialize.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">

    <style>
        .container{
            min-width: 100%;
        }

        .container > .row {
            margin: 0;
        }


        .container > .row > .col {
            padding: 0;
        }

        *{
            padding: 0px;
            margin: 0px;
            font-family: 'myFont';
        }

        @font-face {
            font-family: 'myFont';
            src: url('/static/account/fonts/myFont.ttf');
        }
    </style>
</head>

<body class="#eceff1 blue-grey lighten-5">
    <div class="container">
        <div class="row">
            <div class="col s12 m8 offset-m2 l8 offset-l2">
                <!--nav-->
                <div class="col s12 m12 l12 black white-text valign-wrapper" style="min-height: 100px;">
                    <div class="col m6" style="">
                        <p style="font-size: 35px;"><b>MyFarm</b></p>
                    </div>

                    <div class="col m6 right-align" style="">
                        <p style="font-size: 25px; color: red; margin-top: 30px;">Sign in</p>
                    </div>
                </div>
                <!--end nav-->

                <!--sign up form-->
                <div class="col s12 m12 l12 white center-align" style="">
                    <h4 class="col s12 m12 l12" style="margin-top: 40px;">Sign In</h4>

                    <p class="col s12 m12 l12 divider" style="margin-top: 30px;"></p>

                    <form class="col s12 m8 offset-m2 l8 offset-l2" method="post" style="margin-top: 50px; margin-bottom: 50px;">
                        {% csrf_token %}

                        <div class="input-field col s12 m12 l12">
                            <i class="material-icons prefix">account_circle</i>
                            {{ signinForm.username }}
                            <label for="icon_prefix white-text">User Name</label>
                        </div>

                        <div class="input-field col s12 m12 l12">
                            <i class="material-icons prefix">lock</i>
                            {{ signinForm.password }}
                            <label for="icon_prefix white-text">Password</label>
                        </div>



                        {% if signinForm.non_field_errors %}
                            {% for error in signinForm.non_field_errors %}
                                <div class="col s12 m10 offset-m1 l10 offset-l1 valign-wrapper" style="margin-top: 20px; background-color: red; height: 40px;">
                                    <p style="color: white; font-size: 16px;">
                                        {{ error }}
                                    </p>
                                </div>
                            {% endfor %}
                        {% endif %}

                        <p class="col s12 m10 offset-m1" style="margin-top: 20px;">
                            <a href="{% url 'password_reset' %}">Forgot password?</a>
                        </p>

                        <p class="col s12 m10 offset-m1">
                            Don't have an account yet?
                            <a href="{% url 'account:sign-up' %}">Sign up</a>
                        </p>

                        <div class="col s12 m12 l12" style="margin-bottom: 20px; margin-top: 20px;">
                            <button class="btn waves-effect waves-light black" type="submit" style="">Sign in
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>
                </div>
                <!--end sign up form-->
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'account/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'account/js/materialize.min.js' %}"></script>
</body>
</html>
