{% extends 'staff-base.html' %}

{% block title %} MyFarm | Staff {% endblock %}

{% block style %}
    <style>
        .table_data a:hover{
            text-decoration: underline;
        }
    </style>
{% endblock %}

{% block body %}
    <!--user table-->
    <div class="col s12 m12 l12" style="">
        <table class="highlight centered responsive-table">
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Profile</th>
                    <th>Operation</th>
                </tr>
            </thead>

            <tbody class="table_data">
                {% for all_user in all_users %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ all_user.username | title }}</td>
                    <td>{{ all_user.email }}</td>

                    <td>
                        {% if all_user.is_active %}
                            <span style="color: green;">Active</span>
                        {% else %}
                            <span style="color: red;">Deactive</span>
                        {% endif %}
                    </td>

                    <td>
                        <a href="{% url 'staff:user-detail' user_id=all_user.id %}">View</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!--end user table-->
{% endblock %}
