{% extends 'staff-base.html' %}

{% block title %} MyFarm | Staff {% endblock %}


{% block body %}
    <div class="col m8 offset-m2" style="padding: 20px; margin-top: 20px; margin-bottom: 20px;">
        <h5>Quick Link</h5>

        <p class="col s12 m12 l12 divider">

        </p>

        <a href="{% url 'staff:user-home' %}" class="waves-effect waves-light btn red white-text" style="margin-top: 20px;">User Management</a>
        <a href="{% url 'staff:product-home' %}" class="waves-effect waves-light btn red white-text" style="margin-top: 20px;">Product Management</a>
    </div>
{% endblock %}
