{% extends 'staff-base.html' %}

{% block title %} MyFarm | Staff {% endblock %}


{% block body %}
    <div class="col s12 m8 offset-m2 l8 offset-l2" style="margin-top: 5px;">
        <div class="col s12 m12 l12" style="margin-bottom: 30px; margin-top: 0px;">
            <!--sign up form-->
            <div class="col s12 m12 l12 white center-align" style="">
                <h4 class="col s12 m12 l12" style="margin-top: 40px;">Product Add</h4>

                <p class="col s12 m12 l12 divider" style="margin-top: 30px;"></p>

                <form class="col s12 m10 offset-m1 l10 offset-l1" method="post" enctype="multipart/form-data" style="margin-top: 50px; margin-bottom: 50px;">
                    {% csrf_token %}

                    <div class="input-field col s12 m6 l6">
                        <i class="material-icons prefix">label</i>
                        {{ add_product_form.name }}
                        <label for="icon_prefix white-text">Product Name</label>
                    </div>

                    <div class="input-field col s12 m6 l6">
                        <i class="material-icons prefix">access_time</i>
                        {{ add_product_form.contact_period }}
                        <label for="icon_prefix white-text">Contact Period</label>
                    </div>

                    <div class="input-field col s12 m6 l6">
                        <i class="material-icons prefix">all_inclusive</i>
                        {{ add_product_form.expected_return }}
                        <label for="icon_prefix white-text">Expected Return</label>
                    </div>

                    <div class="input-field col s12 m6 l6">
                        <i class="material-icons prefix">access_time</i>
                        {{ add_product_form.harvest_period }}
                        <label for="icon_prefix white-text">Harvest Period</label>
                    </div>

                    <div class="input-field col s12 m12 l12">
                        <i class="material-icons prefix">create</i>
                        {{ add_product_form.title }}
                        <label for="icon_prefix white-text">Title</label>
                    </div>

                    <div style="" class="input-field col s12 m12 l12">
                        <i class="material-icons prefix">create</i>
                        {{ add_product_form.description }}
                        <label for="icon_prefix white-text">Description</label>
                    </div>

                    <div style="" class="input-field col s12 m12 l12">
                        <i class="material-icons prefix">create</i>
                        {{ add_product_form.extra }}
                        <label for="icon_prefix white-text">Extra</label>
                    </div>

                    <div class="input-field col s12 m6 l6">
                        <i class="material-icons prefix">border_all</i>
                        {{ add_product_form.farm_size }}
                        <label for="icon_prefix white-text">Farm Size</label>
                    </div>

                    <div class="input-field col s12 m6 l6">
                        <i class="material-icons prefix">attach_money</i>
                        {{ add_product_form.price }}
                        <label for="icon_prefix white-text">Unit price</label>
                    </div>

                    <div style="" class="input-field col s12 m12 l12">
                        <i class="material-icons prefix">location_on</i>
                        {{ add_product_form.farm_location }}
                        <label for="icon_prefix white-text">Farm Location</label>
                    </div>

                    <div class="input-field col s12 m6 l6">
                        <i class="material-icons prefix">format_align_center</i>
                        {{ add_product_form.product_type }}
                        <label for="icon_prefix white-text">Product Type</label>
                    </div>

                    <div class="input-field col s12 m6 l6">
                        <i class="material-icons prefix">email</i>
                        {{ add_product_form.farm_email }}
                        <label for="icon_prefix white-text">Farm Email</label>
                    </div>

                    <div class="col m10 l10">
                        <div class="input-field col s12 m8 l8">
                            <div class="file-field input-field">
                                <div class="btn">
                                    <span>Select Picture</span>
                                    {{ add_product_form.product_image }}
                                </div>

                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                        </div>
                    </div>


                    {% if add_product_form.non_field_errors %}
                        {% for error in add_product_form.non_field_errors %}
                            <div class="col s12 m10 offset-m1 l10 offset-l1 valign-wrapper" style="margin-top: 20px; background-color: red; height: 40px;">
                                <p style="color: white; font-size: 16px;">
                                    {{ error }}
                                </p>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <div class="col s12 m12 l12" style="margin-bottom: 20px; margin-top: 20px;">
                        <button class="btn waves-effect waves-light black" type="submit" style="">Add
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </form>
            </div>
            <!--end sign up form-->
        </div>
    </div>
    <!--end sign up form-->

{% endblock %}
